.home_flex_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.dash_image_card {
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #2a475e;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
}

.dash_image_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2)
}

.card_caption {
    text-align: center;
}

.input_button {
    background-color: #c7d5e0;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.radio_rating {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4685aa;
    color: #c7d5e0;
    padding: 16px;
    font-size: 16px;
    border: none;
    min-width: 100px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    right: 0;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

head {
    position: fixed;
    top: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b2838;
    color: #c7d5e0;
}

.dark_mode {
    background-color: #1b2838;
    color: #c7d5e0;
}

.active_tab {
    background-color: #4685aa;
}

form {
    padding: 4px;
}

input {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

li {
    float: left;
}

li a {
    display: block;
    color: #c7d5e0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}